<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Displaying Laptops</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <h2>Here is the list of laptops:</h2>
    <div>
        <table>
            <thead>
                <th>Product ID</th>
                <th>Brand Name</th>
                <th>Processor Type</th>
                <th>Total RAM</th>
                <th>Screen Size</th>
            </thead>

            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>